# --- virtual environment ---
.venv/

# --- Python cash ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- IDE and redactors ---
.vscode/
.idea/
*.swp
*.swo

# --- system files ---
.DS_Store
Thumbs.db

# --- data files ---
*.csv
*.txt