[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
submit50 = "*"
style50 = "*"
pygame = "*"
check50 = "*"
pillow = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.11"
